{% extends "network/layout.html" %}

{% block body %}
<div class="ui container">
    <h1>Following</h1>

    <div class="ui divider"></div>

    <div id="ui large feed">
        {% for post in posts %}
        <div class="ui card">
            <div class="event">
                <a class="user" href="{% url 'profile' post.user.username %}">
                {{ post.user.username }}</a>               
                {% if post.user_id == user.id %}       
                <a href="#" class="right floated ui icon orange basic button" id="edit_post{{ post.id }}" data-id="{{ post.id }}" data-toggle="modal"><i class="edit icon"></i></a>
                {% endif %}              
                <h4 class="extra text" id="post_text_{{ post.id }}">{{ post.text }}</h4>             
                <form action="#" method="POST" id="frm_edit_{{ post.id }}" data-id="{{ post.id }}" style="display: none">
                    {% csrf_token %}
                    <div class="field">                
                        {{ form_edit.id_post_edit_text }}
                    </div>
                    <div id="post_text_alert_{{ post.id }}"></div>
                    <div id="div_buttons">
                        <button class="ui icon green basic button" type="submit" id="save_button"><i class="save icon"></i></button>
                        <button class="ui icon red basic button" type="button" data-id="{{ post.id }}" id="close_edit_form_button_{{ post.id }}" data-dismiss="modal"><i class="trash alternate icon"></i></button>             
                    </div>
                </form>
                <p class="date">{{ post.post_date }}</p>         
                <div class="like heart" data-id="{{ post.id }}">     
                    <i class="like icon"></i>{{ post.like_set.count }}
                </div> 
            </div>
        </div>
    {% empty %}
        <h2>No posts.</h2>
    {% endfor %}
    </div>
</div>

{% endblock %}