{% extends "network/layout.html" %}

{% block body %}
<div class="ui container">
    <form class="ui form" action="{% url 'stronk:create_post' %}" method="post">
        <div class="field">
            <label>Your post here:</label>
            <textarea name="content_input"></textarea>
            {% csrf_token %}
        </div>
        <div>
            <button class="ui primary submit labeled icon button" type="submit">
            <i class="icon edit"></i> Add Post
        </div>
    </form>
    <div class="ui large feed">
        {% for p in posts %} 
        <div class="event">
            <div class="label">
                <i class="user icon"></i>
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" href="{% url 'stronk:profile' p.user %}">
                        {{ p.user }}
                    </a> 
                    <div class="text">
                        <p>{{ p.content }}</p>
                    </div>
                    <div class="metadata">
                        <span class="date">{{ p.post_time }}</span>
                    </div>
                </div>
                <div class="meta">
                    <a class="like">
                        <i class="like icon"></i> {{ p.liked_by.count }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

{% endblock %}