{% extends "network/layout.html" %}

{% block body %}
<div class="ui container">
    <form class="ui form" action="{% url 'stronk:create_post' %}" method="post">
        <div class="field">
            <label>Your post here:</label>
            <textarea name="content_input"></textarea>
            {% csrf_token %}
        </div>
        <div>
            <button class="ui primary submit labeled icon button" type="submit">
            <i class="icon edit"></i> Add Post
        </div>
    </form>
    <div class="ui large feed">
        {% for p in posts %} 
        <div class="event">           
            <div class="label">
                <i class="user icon"></i>
            </div>
            <div class="content">
                <div class="summary">
                    <a class="user" href="{% url 'stronk:profile' p.user %}">
                        <h3>{{ p.user }}</h3>
                    </a> 
                    <div class="text">
                        <p>{{ p.content }}</p>
                    </div>
                    <div class="metadata">
                        <span class="date">{{ p.post_time }}</span>
                    </div>
                </div>              
                <div class="meta" id="{{ p.id }}">
                    <a class="liked" href="{% url 'stronk:like' p.id %}">     
                        <i class="like icon"></i>Liked by: {{ p.liked_by.count }}
                    </a>                   
                </div>
            </div> 
            {% if p.user_id == user.id %}
            <div class="extra content">
                <a href="#" class="ui left floated button" id="edit{{ post.id }}" data-id="{{ p.id }}">Edit</a>  
            </div>       
            {% endif %}               
        </div>    
        <div class="ui fitted divider"></div>
        {% endfor %} 
    </div>
    <div>
        <nav>
            {% if posts.has_previous %}
            <a class="page-link" href="?page={{ posts.previous_page_number }}">
                <button class="ui left labeled icon button">
                    <i class="left arrow icon"></i>
                    Previous
                </button>
            </a>
                
            {% else %}
            <a class="page-link" href="#">
                <button class="ui left labeled icon button">
                    <i class="left arrow icon"></i>
                    Previous
                </button>
            </a>
            {% endif %}
            
            {% if posts.has_next %}
            <a class="page-link" href="?page={{posts.next_page_number}}">
                <button class="ui right labeled icon button">
                <i class="right arrow icon"></i>
                Next
                </button>
            </a>
                              
            {% else %}
            <a class="page-link" href="#">
                <button class="ui right labeled icon button">
                    <i class="right arrow icon"></i>
                    Next
                </button>
            </a>                
            {% endif %}
        </nav>
    </div>
</div>

{% endblock %}