{% extends "network/layout.html" %}
{% load static %}
{% block body %}

<div class="ui container">
    <h1>All Posts</h1>
    <div class="ui divider"></div>
    {% include "network/post_form.html" %}
    <div class="ui divider"></div>

    <div id="ui large feed">
        {% for post in posts %}
        <div class="ui fluid card">
            <div class="center aligned event">
                <a class="user" href="{% url 'profile' post.user.username %}">
                {{ post.user.username }}</a>
                
                {% if post.user_id == user.id %}       
                <a href="#" class="right floated ui icon orange basic button" id="edit_post{{ post.id }}" data-id="{{ post.id }}" data-toggle="modal"><i class="edit icon"></i></a>           
                {% endif %}   
                
                <p class="extra text" id="post_content{{ post.id }}"> {{ post.text }}</p>
                
                <form action="#" method="POST" id="edit_form{{post.id}}" data-id="{{post.id}}" style="display: none">
                    {% csrf_token %}
                    <div class="field">
                        {{ form_edit.id_edit_text }}
                    </div>
                    <div id="post_text_alert_{{post.id}}"></div>
                    <div id="div_buttons">
                        <button type="button" data-id="{{post.id}}" id="close_edit_button{{post.id}}" class="ui button"
                            data-dismiss="modal">Close</button>
                        <button type="submit" class="ui button" id="save_button">Save changes</button>
                    </div>
                </form>
           
                <p class="date">{{ post.post_date }}</p>         
                <div class="like heart" data-id="{{ post.id }}">     
                    <i class="like icon"></i> <span>{{ post.like_set.count }}</span>
                </div> 
            </div>
        </div>
    {% empty %}
        <h2>No posts yet. Follow more people!</h2>
    {% endfor %}
    </div>
</div>


{% endblock %}