{% extends "network/layout.html" %}

{% block body %}
<div class="ui container">
    <h3 class="ui dividing header">Login</h3>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="ui form" action="{% url 'stronk:login' %}" method="post">
        {% csrf_token %}
        <div class="field">
            <label>Username</label>
            <input autofocus type="text" name="username">
        </div>
        <div class="field">
            <label>Password</label>
            <input  type="password" name="password">
        </div>  
        <button class="ui button" type="submit">Submit</button>
    </form>


    Don't have an account? <a href="{% url 'stronk:register' %}">Register here.</a>
</div>
{% endblock %}