{% extends "network/layout.html" %}
{% load static %}
{% block body %}


    <div class="ui container">
    
        <h3 class="ui block center aligned header"> Profile </h3>
        
        <h2 class="ui center aligned icon header">
            <i class="user alternate icon"></i>
            <b>{{ profile_user.username }}</b>
        </h2>

        <div class="ui divided selection list">
            <p class="item">
                <div class="ui huge blue horizontal label">Followers:
                    <h4 class="detail">{{ total_followers }}</h4>
                </div>                
            </p>
            <p class="item">
                <div class="ui huge teal horizontal label">Following:
                    <h3 class="detail">{{ total_following }}</h3>
                </div>
                
            </p>           
        </div>

        <div>
            {% if user.is_authenticated and user.id != profile_user.id %}
                <p>
                {% if is_following > 0 %}
                <button id="follow_button" data-id="{{ profile_user.id }}" type="button" class="ui basic button">Following</button>
                {% else %}
                <button id="follow_button" data-id="{{ profile_user.id }}" type="button" class="ui button">Follow</button>
                {% endif %}
                </p>
            {% endif %}
        </div>
        
        <div class="ui divider"></div>
        
        <h3 class="ui block center aligned header">
            Posts by {{ profile_user.username }}
        </h3>
            
        <div id="ui large feed">
        {% for post in posts %}
            <div class="ui fluid card">
                <div class="center aligned event">
                    <p class="user">{{ post.user.username }}</p>                   
                    <p class="date">{{ post.post_date }}</p>                    
                    <h5 class="extra text" id="post_content_{{ post.id }}"> {{ post.text }}</h5>                   
                    <div class="like heart" data-id="{{ post.id }}">     
                        <i class="like icon"></i> <span>{{ post.like_set.count }}</span>
                    </div> 
                </div>
            </div>
            {% empty %}
            <h2>No posts.</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}