{% extends "network/layout.html" %}
{% load static %}
{% block body %}


<script>
var last_form = null;
document.addEventListener('DOMContentLoaded', function () {

    // when heart is clicked, call the like_and_dislike function
    document.querySelectorAll('.heart').forEach(div => {
        console.log("heart clicked")
        div.onclick = function() {
            like_and_dislike(this);
        };
    });
    
    //Intercepts the submit of the post change form and sends an asynchronous request via javascript.
    document.querySelectorAll("[id^='frm_edit_']").forEach(form => {
        form.onsubmit = function (e) {
            e.preventDefault();
            this.querySelector('#div_buttons').style.display = "none";
            if (this.querySelector('#alert_message') != null) {
                this.querySelector('#alert_message').remove();
            }
            let alert = this.querySelector('#post_text_alert_' + this.dataset.id);

            let input = this.querySelector('div>textarea');
            if (input.value.trim().length == 0) {
                alertMessage({
                    'error': 'This field is required.'
                }, alert, this.dataset.id);
                this.querySelector('#div_buttons').style.display = "";
                return 0;
            }
            var formData = $(this).serialize();
            let csrftoken = this.querySelector("input[name='csrfmiddlewaretoken']").value;
            fetch(`/editpost/${this.dataset.id}`, {
                    method: 'POST',
                    headers: {
                        'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',
                        'Content-Type': 'application/x-www-form-urlencoded',
                        "X-CSRFToken": csrftoken
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {

                    alertMessage(data, alert, this.dataset.id);
                    this.querySelector('#div_buttons').style.display = "";
                }).catch((error) => {
                    alertMessage({
                        'error': error.message
                    }, alert, this.dataset.id);
                    this.querySelector('#div_buttons').style.display = "";
                });
        }

    });
   
    // shows edit form when button is pressed
    document.querySelectorAll("[id^='edit_post']").forEach(a => {
        a.onclick = function () {
            if (last_form != null) {
                hideForm(last_form);
            }
            last_form = this;
            let p = document.querySelector('#post_content_' + this.dataset.id);
            let form = document.querySelector('#frm_edit_' + this.dataset.id);
            p.style.display = 'none';
            form.querySelector('#id_edit_text').value = p.innerHTML;
            form.style.display = '';
        };
    });
    
    // close the editing form.
    document.querySelectorAll("[id^='close_edit_form_button_']").forEach(a => {
        a.onclick = function () {
            hideForm(this);
        };
    });

    if (document.getElementById("follow_button")) {
        document.querySelector('#follow_button').addEventListener("click", function (event) {
            console.log("follow button clicked")
            fetch(`/stronk/follow/${this.dataset.id}`)
                .then(response => response.json())
                .then(data => {
                    document.querySelector('#sp_followers').innerHTML = data.total_followers;
                    if (data.result == "follow") {
                        this.innerHTML = "Following";
                        this.className = "ui button";
                    } else {
                        this.innerHTML = "Follow";
                        this.className = "ui basic button";
                    }
                });

        })

        //Displays the Unfollow text on the Following button when passing the mouser.
        document.querySelector('#follow_button').addEventListener("mouseover", function (event) {
            if (this.className == "ui button") {
                this.innerHTML = "Unfollow"
            }
        });

        //Displays the text "Following" on the Following button when removing the mouser.
        document.querySelector('#follow_button').addEventListener("mouseleave", function (event) {
            if (this.className == "ui button") {
                this.innerHTML = "Following"
            }
        });

    }
    
    // asynchronous call of the like function
    async function like_and_dislike(element) {
        console.log("like function reached")
        await fetch(`/stronk/like/${element.dataset.id}`)
            .then(response => response.json())
            .then(data => {
                element.querySelector('small').innerHTML = data.total_likes;
            });
    }
    
    // hide the post editing form.
    function hideForm(element) {
        let p = document.querySelector('#post_text_' + element.dataset.id);
        let form = document.querySelector('#frm_edit_' + element.dataset.id);
        p.style.display = '';
        form.querySelector('#id_edit_text').value = p.innerHTML;
        form.style.display = 'none';
    } 
    
    //Displays the alert message according to the return (success or error).
    function alertMessage(data, alert, id) {
        let div = document.createElement('div');
        let sucess = false;
        div.setAttribute('role', 'alert');
        div.setAttribute('id', 'alert_message');
        if (document.getElementById('alert_message') == null) {
            if (data.error) {
                if (data.error.id_post_edit_text) {
                    div.innerHTML = data.error.id_post_edit_text.join();
                } else {
                    div.innerHTML = data.error;
                }
                div.className = 'alert alert-dismissible fade alert-danger in show';
            } else {
                sucess = true;
                document.querySelector('#post_text_' + id).innerHTML = data.text;
                div.innerHTML = "Post changed successfully!";
                div.className = 'alert alert-dismissible fade alert-success in show';
            }
        }
        alert.appendChild(div);
        var alert_message = document.getElementById('alert_message');
        setTimeout(function () {
            if (alert_message != null) {
                $(alert_message).fadeOut("fast");
                alert_message.remove();
                if (sucess) {
                    document.querySelector('#frm_edit_' + id).style.display = 'none';
                    document.querySelector('#post_text_' + id).style.display = '';
                }
            }
        }, 1000);
    }

    // when follow button is clicked, call the follow function
    document.querySelectorAll('.follow').forEach(div => {
        console.log("folo clicked")
        div.onclick = function() {
            follow_unfollow(this);
        };
    }); 
     
    if (document.getElementById("follow_button")) {
        document.querySelector('#follow_button').addEventListener("click", function (event) {
            console.log("follow button clicked")
            console.log(this.dataset.id)
            fetch(`/stronk/follow/${this.dataset.id}`)
                .then(response => response.json())
                .then(data => {
                    document.querySelector('#sp_followers').innerHTML = data.total_followers;
                    if (data.result == "follow") {
                        this.innerHTML = "Following";
                        this.className = "ui button";
                    } else {
                        this.innerHTML = "Follow";
                        this.className = "ui basic button";
                    }
                });
        })

        // show 'unfollow' on the button
        document.querySelector('#follow_button').addEventListener("mouseover", function (event) {
            if (this.className == "ui button") {
                this.innerHTML = "Unfollow"
            }
        });

        // show 'following' on the button
        document.querySelector('#follow_button').addEventListener("mouseleave", function (event) {
            if (this.className == "ui button") {
                this.innerHTML = "Following"
            }
        });
    }

});
</script>

    <div class="ui container">
        <h3 class="ui block center aligned header"> Profile </h3>
        <h4>Username: <b>{{ profile_user.username }}</b></h4>
        <h5>Followers: <b>{{ total_followers }}</b></h5>
        <h5>Following: <b>{{ total_following }}</b></h5>       
        <div>
            {% if user.is_authenticated and user.id != user_profile.id %}
                <p>
                {% if is_following > 0 %}
                <button id="follow_button" data-id="{{user_profile.id}}" type="button" class="ui basic button">Following</button>
                {% else %}
                <button id="follow_button" data-id="{{user_profile.id}}" type="button" class="ui button">Follow</button>
                {% endif %}
                </p>
            {% endif %}
        </div>
        
        <div class="ui divider"></div>
        
        <h3 class="ui block center aligned header">
            Posts by {{ profile_user.username }}
        </h3>
            
        <div id="ui large feed">
        {% for post in posts %}
            <div class="ui card">
                <div class="event">
                    <a class="user" href="{% url 'profile' post.user.username %}">
                    {{ post.user.username }}</a>
                    
                    <h4 class="extra text" id="post_text_{{ post.id }}"> {{ post.text }}</h4>
                                      
                    <p class="date">{{ post.post_date }}</p>   
                    <div class="like heart" data-id="{{ post.id }}">     
                        <i class="like icon"></i>{{ post.like_set.count }}
                    </div> 
                </div>
            </div>
            {% empty %}
            <h2>No posts.</h2>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/network.js' %}"></script>
{% endblock %}