{% extends "network/layout.html" %}
    {% block body %}
    
    <div class="ui container">
    
        <h1>Profile of: {{ user_target.username }}</h1> 

        <div class="ui two bottom attached buttons">
            <a class="ui green button" href="{% url 'stronk:follow' user_target.username %}">
                <i class="plus icon"></i>Follow this person!
            </a>
            <a class="ui red button" href="{% url 'stronk:unfollow' user_target.username %}">
                <i class="minus icon"></i>Unfollow this person!
            </a>
        </div>
        <div>
            <p>Followers:</p>
        </div>
        <div>
            <p>Following:</p>
        </div>
        <div>
            <p>Posts:</p>
        </div>



    </div>
    {% endblock %}>